@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

html,
body {
  overscroll-behavior-x: none;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #1b1a17;
}

body {
  color: #e6d5b8;
  font-family: "Barlow Condensed", sans-serif;
}

body:before {
  position: absolute;
  right: 1rem;
  top: 1rem;
  content: "Drag or scroll";
}

.loader {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.marquee {
  display: flex;
  height: 100vh;
  align-items: center;
  cursor: -webkit-grab;
}

.item {
  font-size: 30vw;
  letter-spacing: -0.05em;
  padding-right: 0.25em;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  /* will-change: transform; */
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e6d5b8;
}
